<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of superiors for the Federation</title>
    <style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }
    </style>
</head>
<body>
{% include 'header.html' %}
<h1>List of superiors </h1>
There are {{ superiors | length }} superiors <br/>
<table>
    <tr>
        <th>Isuer (Identifier)</th>
        <th>URI</th>
        <th>Actions</th>
    </tr>
{% for superior in superiors %}
    <tr>
        <td>{{ superior.issuer }}</td>
        <td>{{ superior.uri }}</td>
        <td>
            <a  onclick="return confirm('Are you sure?')" href="{{ url_for('sigserv.delete_sup', issuer_urlsafe=issuer|quote_plus) }}">Delete</a><br>
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>